@charset "utf-8";

article{
	width: 960px;
	margin:50px auto;
}
section #schedule{
    width: 650px;
    height: 150px;
    padding: 30px 0 0 10px;
    background-color: #f0f0f0;
}
div .content{
    width: 650px;
    height: 150px;
    padding: 30px 0 0 10px;
    background-color: #f0f0f0;
}
h2{
	width: 660px;
	font-size: 2.5em;
	border-bottom: 2px solid #000;
	clear: both;
    margin-bottom: 30px;
}
h3{
    margin-right: 50px;
}
.today{
    font-size: 20px;
    margin-left: 10px;
    font-weight: 800;
    padding-bottom : 10px;
}
img.image{
    margin-right: 30px;
    margin-top: 10px;
}
.time{
    text-align: right;
    margin-right: 25px;
}
.tbl{
    width: 650px;
    height:20px;
    margin: 0 auto;
    text-align: center;
}

.table{
    margin-top: 10px;
}
.table tr,.table td {
    border: 2px #808080 solid;
}
.table td{
    width: 90px;
    height: 98px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.1em;
}
.table td a{
    font-size:14px;
}


.clear{
	clear: both;
}


/***** サイドメニュー *****/
section#side{
    width: 250px;
}

	aside ul{
		margin-top: 30px;
	}

	aside ul li{
		margin: 5px 0;
	}
